h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    border:2px #000000
border-radius :50xp;


}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
.origami {
    backgroung-colour:#ffffffff
    padding : 30xp;
     margin: 25xp;
     widows: 310xp;
     font-family: fantasy;

}